language: android
os: linux
dist: trusty
notifications:
  email: true
# Travis暂时没有30的SDK，等修复后修改为30 和 30.0.2
android:
  components:
    - build-tools-29.0.2
    - android-29
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
before_script:
  - chmod +x gradlew
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"
    - "$HOME/.android/build-cache"
script:
  - "./gradlew assembleRelease"
before_install:
  - openssl aes-256-cbc -K $encrypted_1d5650018551_key -iv $encrypted_1d5650018551_iv
    -in littlecorgi.jks.enc -out key/littlecorgi.jks -d
