<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlecorgi.leave">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".TeacherLeaveActivity" />
        <activity android:name=".PassLeaveActivity" />
    </application>

</manifest>