<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlecorgi.my">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="false">
        <activity android:name=".ui.about.AboutActivity" />
        <activity android:name=".ui.about.AdviceActivity" />
        <activity android:name=".ui.addgroup.AddGroupActivity" />
        <activity android:name=".ui.addgroup.GroupActivity" />
        <activity android:name=".ui.message.MessageActivity" />
        <activity android:name=".ui.message.OriginalActivity" />
        <activity android:name=".ui.signup.SignUpActivity" />
        <activity
            android:name=".ui.signin.LoginActivity"
            android:label="@string/title_activity_login" />
    </application>

</manifest>